.edu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}


.edu-desc{
    text-align: center;    
    padding-bottom: 50px;
}


.edu-heading{
    font-size: xxx-large;
    font-weight: 600;
    padding: 10px;
}

.edu-card1{
   
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 2.3px solid white;
    border-radius: 50px;
    background-color: rgb(51, 13, 48);
}


.edu-li{
    padding: 50px;
}



.edu-card1:hover{
    transform: scale(1.05); 
    box-shadow: 0 18px 16px rgba(145, 145, 137, 0.89);
    transition: transform 0.4s ease, box-shadow 0.5s ease;
}





.edu-img{
    display: flex;
    height: 50px;
    width:  70px;
    background: white;
    border-radius: 14px;
    padding: 4px;
    
}

.card-container{

    background-color: rebeccapurple;
}


@media(max-width:920px){
    .edu-heading{
        font-size: 36px;
       
    }

    .edu-desc{
        font-size: 12px;
    }}



@media(max-width:623px) {
    .edu-card{
        padding: 14px;
        
    }
    

    .edu-card1{
        width: 330px;
        height: 240px;
        padding: 18px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        border: 2.0px solid white;
        border-radius: 50px;
        background-color: rgb(58, 10, 54);
    }


    .edu-li{
        padding: 10px;
    }
}



@media(max-width:409px) {
    .edu-card1{
        width: 250px;
      
    }

    .edu-desc{
        font-size: 10px;
    }

    .edu-card-desc{
        font-size: 12px;
    }
}


@media(max-width:268px) {

    .edu-heading{
        font-size: 24px ;

    }

}