

.desc{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}


.form-container{
    display: flex;
    height: 600px;
    width: 530px;
    border: .3px solid rgba(250, 248, 248, 0.518);
    margin: 20px;
    box-sizing: border-box;
    /* border-radius: 50px; */
    box-shadow: rgba(242, 242, 244, 0.15) 0px 2px 5px 0px, rgba(255, 255, 255, 0.05) 0px 1px 1px 0px;
    
   
}


.contact-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    
}


.form-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    padding-top: 40px;
    margin-top: 50px;


}

.input1{
    margin-top: 10px;
    height: 70px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
    

}

.msg-input{
    margin-top: 10px;
    height: 125px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
    

}

.send-btn{
    height: 50px;
    width: 200px;
    background-color: rgb(182, 178, 178);
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 20px;
    font-size: larger;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.send-btn:hover{
    background-color: rgba(11, 148, 240, 0.852);  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      
}


.headingClass{
    font-size: xxx-large;
}


@media(max-width:920px){
    .headingClass{
        font-size: 36px;
       
    }

    .desc{
        font-size: 12px;    }
}