

.desc{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.form-container{
    display: flex;
    height: 600px;
    width: 530px;
    border: 2px solid rgb(250, 248, 248);
    margin: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    border-style:solid;
    box-shadow: 0 4px 8px 0 rgba(244, 248, 0, 0.2), 0 6px 20px 0 rgba(221, 218, 9, 0.19);
    background-color: rgba(34, 4, 105, 0.719);
    
   
}


.contact-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;

    
}


.form-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    padding-top: 40px;
    margin-top: 50px;


}

.input1{
    margin-top: 10px;
    height: 70px;
    width: 400px;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
    

}

.msg-input{
    margin-top: 10px;
    height: 125px;
    width: 400px;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 27px;
    text-align: center;
    

}

.send-btn{
    height: 50px;
    width: 400px;
    background-color: rgb(32, 145, 221);
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 20px;
}

.send-btn:hover{
    background-color: rgba(94, 9, 73, 0.795);
}


.headingClass{
    font-size: xxx-large;
}